@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
/* SASS VAR */
$primary : #396AF5;
$secondary : #FF934F;
$info: #361A95;
$fourty: #80CED7;
$light : #EEFCD9;
$success: #4FCE5D;
$danger: #dc3545;
$dark: #1e1e2f;
$gris:#EDEEF2;
$warning: #FEE08C;
